<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="logo-insti" src="/static/imagenes/Logo_i210_fondo_trans.png">
    </a>
    <div class="rotulo">
      Instituto Superior de Formación<br>Docente y Técnica N°210
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" style="text-align: right;">
        {% if request.user.is_staff or request.user.is_superuser or request.user.admin %}
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-navbar dropdown-toggle nav-link" type="button" id="dropdownUsuarios" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none">
                Usuarios
              </button>
              <ul class="dropdown-menu user-dd" aria-labelledby="dropdownUsuarios">
                <li><a class="dropdown-item" href="/user_list/">Lista de usuarios</a></li>
                <li><a class="dropdown-item" href="/create_user/">Crear nuevo usuario</a></li>
                <li><a class="dropdown-item" href="/cargaMasivaEstudiantes/">Carga Masiva de usuario</a></li>
              </ul>
            </div>
          </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-navbar dropdown-toggle nav-link" type="button" id="dropdownMaterias" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none">
                Materias
              </button>
              <ul class="dropdown-menu user-dd" aria-labelledby="dropdownMaterias">
                {% if request.user.puede_gestionar_materias %}
                  <li><a class="dropdown-item" href="/altaMateria/">Crear materia</a></li>
                {% endif %}
                {% if request.user.puede_ver_materias %}
                  <li><a class="dropdown-item" href="/lista_materias_admin/">Listado de materias</a></li>
                {% endif %}
                {% if request.user.is_staff or request.user.is_superuser or request.user.admin %}
                  <li><a class="dropdown-item" href="/inscripcionMateria/">Inscripcion a materias</a></li>
                  <li><a class="dropdown-item" href="/listaMateriasAdm/">Lista de inscripciones</a></li> 
                {% endif %}
                {% if not request.user.is_staff and not request.user.is_superuser and not request.user.admin %}
                  <li><a class="dropdown-item" href="/inscripcionMateriaEst/">Inscripcion a materias</a></li>
                  <li><a class="dropdown-item" href="/listaMateriasEst/">Lista de inscripciones</a></li> 
                {% endif %}               
              </ul>
            </div>
          </li>
          {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-navbar dropdown-toggle nav-link" type="button" id="dropdownFinales" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none">
                Finales
              </button>
              <ul class="dropdown-menu user-dd" aria-labelledby="dropdownFinales">
                {% if request.user.is_staff or request.user.is_superuser or request.user.admin %}
                  <li><a class="dropdown-item" href="/altaMesa/">Dar alta mesa de final</a></li>
                  <li><a class="dropdown-item" href="/mesas_lista/">Listado de mesas</a></li>
                  <li><a class="dropdown-item" href="/inscripcionFinal/">Inscripcion a finales</a></li>
                <li><a class="dropdown-item" href="/listaFinalesAdm/">Lista de inscripciones</a></li>  
                {% endif %}
                {% if not request.user.is_staff and not request.user.is_superuser and not request.user.admin %}
                  <li><a class="dropdown-item" href="/inscripcionFinalEst/">Inscripcion a finales</a></li>
                  <li><a class="dropdown-item" href="/listaFinalesEst/">Lista de inscripciones</a></li>      
                {% endif %}          
              </ul>
            </div>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-navbar dropdown-toggle nav-link" type="button" id="dropdownInformacion" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none">
                Información
              </button>
              <ul class="dropdown-menu user-dd" aria-labelledby="dropdownInformacion">
                <li><a class="dropdown-item" href="https://isfdyt210-bue.infd.edu.ar/sitio/carreras/">Carreras</a></li>
                <li><a class="dropdown-item" href="https://isfdyt210-bue.infd.edu.ar/sitio/datos-institucionales/">Información</a></li>
              </ul>
            </div>
    
          <li class="nav-item">
            <a class="nav-link" href="https://biblioteca210.pythonanywhere.com/" rel="noopener noreferrer" style="text-decoration: none">Biblioteca</a>
          </li>
  
            {% endif %}
        


        <!--<li class="nav-item">
          <a class="nav-link" href="https://isfdyt210-bue.infd.edu.ar/sitio/carreras/" style="text-decoration: none">Carreras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://isfdyt210-bue.infd.edu.ar/" target="_blank" rel="noopener noreferrer" style="text-decoration: none">El Instituto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://isfdyt210-bue.infd.edu.ar/sitio/ubicacion/" style="text-decoration: none">Contacto</a>
        </li>-->
      
        <!--modificar el boton para que no aparezca en el login, agregar un else para que en ese archivo HTML no aparezca-->
        {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">
              <img class="icono-nav" src="/static/imagenes/Login.png">
              <span class="nav-user">Login</span>
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link only-mob-nav" href="{% url 'logout' %}">
              <img class="icono-nav" src="/static/imagenes/Logout.png">
              <span class="nav-user">Cerrar sesión</span>
            </a>
          </li>

          <li class="nav-item last-nav-item">
            <div class="dropdown">
              <button class="btn btn-navbar dropdown-toggle nav-link" type="button" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none">
                <span class="nav-user">{{ user.email }}</span>
                {% if request.user.is_staff or request.user.is_superuser or request.user.admin %}
                  <img class="icono-nav" src="/static/imagenes/Perfiladmin.png" alt="Default Image">
                {% else %}
                  {% if user.imagen %}
                    <img class="icono-nav" src="{{ user.imagen.url }}" alt="User Image">
                  {% else %}
                    <img class="icono-nav" src="/static/imagenes/Perfil.png" alt="Default Image">
                  {% endif %}
                {% endif %}
              </button>
              <ul class="dropdown-menu dropdown-menu-end user-dd" aria-labelledby="dropdownUser">
                <li><a class="dropdown-item" href="/edit_user/{{ request.user.id }}">Editar perfil</a></li>
                <li><a class="dropdown-item" href="/change_password">Cambiar contraseña</a></li>
                <li>
                  <form id="logoutForm" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Cerrar Sesión</button>
                  </form>
                </li>
              </ul>
            </div>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<style>
  @media (max-width: 768px) {
    .rotulo {
        font-size: 11px; /* Tamaño de fuente más grande en pantallas más pequeñas */
    }
  }

  @media (max-width: 992px) { /* Para tabletas y móviles */
    .navbar-nav {
      flex-direction: column; /* Cambiar a columna para dispositivos más pequeños */
      width: 100%; /* Asegurar que ocupe todo el ancho */
    }

    .navbar-nav .nav-link, .nav-link only-mob {
      text-align: left; /* Alinear el texto a la izquierda */
    }

    .dropdown-menu, .navbar-nav {
      left: 0; /* Alinear el menú desplegable a la izquierda */
    }
    .last-nav-item {
      text-align: left; /* Alinear el texto a la izquierda */
      width: 100%; /* Asegurar que ocupe todo el ancho */
    }

    .last-nav-item a {
        display: block; /* Asegura que el enlace ocupe todo el ancho */
        width: 100%; /* Asegurar que ocupe todo el ancho */
    }
  }

  #dropdownUser .nav-user {
    display: inline;
    margin-right: 0.5rem;
  }

  #dropdownUser .icono-nav {
    margin: 0;
  }
</style>